# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ukyirbyuonsdwrmbqlht.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVreWlyYnl1b25zZHdybWJxbGh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MjM1NDIsImV4cCI6MjA4OTk5OTU0Mn0.B7X-vSDbZXmateYjd6uu659aJcoQibwfFsL5iKnAcak
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_MHK9dcWjmLnIQXciWeQEtw_qZJI67JM

# Cashfree
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
NEXT_PUBLIC_CASHFREE_ENV=sandbox

# Subscription Plan Amounts (in INR paise)
MONTHLY_PLAN_AMOUNT=99900
YEARLY_PLAN_AMOUNT=899900

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
